/* MAIN STYLES */
body {
	background-color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}

/* CONTAINER */
#container {
	
}

/* HEADER */
#header {
	
}

/* SIDEBAR */
#sidebar {
	
}

/* FOOTER */
#footer {
	
}